<!DOCTYPE html>
<html>
<head>
    <title>Order Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Fictional Company Name</h1>
    </div>
    <div class="tab-buttons">
        <button id="btn-orders" class="tab-label">Order List</button>
    </div>
    
    <div class="tab-container">
        <div class="content" id="order-list-content">
            <h2 class="tab-title">Order List</h2>
            <table class="order-table">
                <thead>
                    <tr>
                        <th>Date UUID</th>
                        <th>User ID</th>
                        <th>Card Number</th>
                        <th>Store Code</th>
                        <th>Product Code</th>
                        <th>Product Quantity</th>
                        <th>Order Date</th>
                        <th>Shipping Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.date_uuid }}</td>
                            <td>{{ order.user_id }}</td>
                            <td>{{ order.card_number }}</td>
                            <td>{{ order.store_code }}</td>
                            <td>{{ order.product_code }}</td>
                            <td>{{ order.product_quantity }}</td>
                            <td>{{ order.order_date }}</td>
                            <td>{{ order.shipping_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('display_orders', page=page-1) }}" class="pagination-link">Previous</a>
                {% endif %}
                <span>Page {{ page }} of {{ total_pages }}</span>
                {% if page < total_pages %}
                    <a href="{{ url_for('display_orders', page=page+1) }}" class="pagination-link">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
